/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hero {
    background-image: url('../images/eyy.png');
    background-size: cover; 
    background-position: center; 
    text-align: center;
    padding: 100px;
    color: #fff;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero h1 {
	color:blueviolet;
    font-size: 36px;
    font-weight: 100px;
    margin-bottom: 20px;
}

.hero p {
	color:deepskyblue;
    font-size: 25px;
    font-family:Monotype Corsiva;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #007BFF;
}

.features {
    text-align: center;
    padding: 80px 0;
}

.feature {
    margin: 30px;
}

.feature img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
}

.pricing {
    text-align: center;
    padding: 80px 0;
}

.plan {
    margin: 30px;
}

.plan h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.plan p {
    font-size: 18px;
}

.contact {
    text-align: center;
    padding: 80px 0;
    background-color: #333;
    color: #fff;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 40px;
}

.contact .cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact .cta-button:hover {
    background-color:black;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

footer p {
    font-size: 14px;
}
