
html, body {
    padding: 0px;
    margin: 0px;
}

.welcomePage {
    margin-top: -110px;
    width: 100vw;
    height: 95vh;
}

.welcomeBackground {
    object-fit: cover;
    position: absolute;
}